@font-face {
   font-family: 'GmarketSansBold';
   font-display: swap;
   src: url('GmarketSansBold/font.woff');
}
@font-face {
   font-family: 'GmarketSansLight';
   font-display: swap;
   src: url('GmarketSansLight/font.woff');
}
