@font-face {
   font-family: 'GmarketSansBold';
   font-display: swap;
   src: url('file:///C:/Users/khssk/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-13_003226/fonts/GmarketSansBold/font.woff');
}
